::-webkit-scrollbar {
  display: none;
}

html, body, div, span, h1, h2, h3, p, a {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: black;
}

.center {
  margin: auto;
  text-align: center;
  align-content: center;
}

@import '_legacy';
