#title {
  background-image: url("wood.jpg");
   background-attachment: fixed;  
}

canvas {
	display:block; 
	margin:1em auto; 
	background:url("mona lisa2.jpg");
	position: center;	
}

@font-face {
    font-family: Crayon;
    src: url(DK Crayon Crumble.ttf);
}

h1 {
	font-family: DK Crayon Crumble;
	font-size: 600%;
	background: -webkit-linear-gradient(#527A00, #457A9C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#size {
	width: 300px;
}

table {
	position: center;
}